@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

@media only screen and (min-width: 1400px) {
  .searchBar {
    display: table;
    margin: 0 auto;
    height: 100px;
    font-size: 20px;
    padding-top: 3vh;
  }

  .searchBar #bar {
    width: 500px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border: 0;
    font-size: 16px;
    outline: none;
  }

  .searchBar .btn {
    font-size: 20px;
    box-shadow: inset 0px 1px 0px 0px #7a8eb9;
    background: linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
    background-color: #637aad;
    border: 1px solid #314179;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-weight: bold;
    padding: 6px 12px;
    text-decoration: none;
    outline: none;
  }
  .searchBar .btn:hover {
    background: linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
    background-color: #5972a7;
  }

  .searchBar .btn:active {
    position: relative;
    top: 3px;
  }

  .searchBar input {
    padding: 15px;
    border-radius: 15px;
    margin: 5px;
  }
}
@media only screen and (max-width: 1400px) {
  .searchBar {
    display: table;
    margin: 0 auto;
    height: 100px;
    font-size: 20px;
    padding-top: 3vh;
  }

  .searchBar #bar {
    width: 500px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border: 0;
    font-size: 16px;
    outline: none;
  }

  .searchBar .btn {
    font-size: 20px;
    box-shadow: inset 0px 1px 0px 0px #7a8eb9;
    background: linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
    background-color: #637aad;
    border: 1px solid #314179;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-weight: bold;
    padding: 6px 12px;
    text-decoration: none;
    outline: none;
  }
  .searchBar .btn:hover {
    background: linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
    background-color: #5972a7;
  }

  .searchBar .btn:active {
    position: relative;
    top: 3px;
  }

  .searchBar input {
    padding: 15px;
    border-radius: 15px;
    margin: 5px;
  }
}
@media only screen and (max-width: 850px) {
  .searchBar #bar {
    display: block;
    margin: 0 auto;
    width: 40vh;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border: 0;
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
    outline: none;
    margin-bottom: 5px;
  }

  .searchBar .btn {
    display: table;
    margin: 0 auto;
    margin-bottom: 5px;
    font-size: 14px;
    box-shadow: inset 0px 1px 0px 0px #7a8eb9;
    background: linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
    background-color: #637aad;
    border: 1px solid #314179;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-weight: bold;
    padding: 6px 12px;
    text-decoration: none;
    outline: none;
  }
  .searchBar .btn:hover {
    background: linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
    background-color: #5972a7;
  }

  .searchBar .btn:active {
    position: relative;
    top: 3px;
  }

  .searchBar input {
    padding: 15px;
    border-radius: 15px;
    margin: 5px;
  }
}
